<div class="container">
  <div class="row">
    <div class="col l12" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 100px">
      <div class="row" style="padding: 20px; background-color: #1a1a1a; color:white">
        <div class="col l9 s12">
          <div class="row">
            <div class="input-field col l6 s12">
              <input placeholder="Job Title" type="text" class="validate" id="job-title">
              <label for="first_name">Job Title</label>
              <div class="collection" id="auto-suggest-title" style="position: absolute; opacity:0.7; color: black; width: 100%; top: 36px"></div>
            </div>
            <div class="input-field col l6 s12">
              <input placeholder="City" type="text" class="validate" id="state">
              <label for="first_name">City</label>
            </div>
          </div>
        </div>
        <div class="input-field col l3 s12">
          <button class="btn btn-lg">
            Calculate
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col l4 m12" style="">
          <div>
            <div class="col l12 m6 s6" style="background-color:black; height: 100px;">

            </div>
            <div class="col l12 m6 s6" style="background-color:yellow; height: 100px">

            </div>
          </div>
        </div>
        <div class="col l8 m12" style="">
          <div style="background-color:black; height: 200px; ">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l9">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="col l3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
  </div>
</div>
