<div class="container">
  <div class="row">
    <div class="col l12" style="background-color: rgba(255, 255, 255, 0.7); margin-top: 100px">
      <div class="row" style="padding: 20px; background-color: #1a1a1a; color:white">
        <div class="col l9 s12">
          <div class="row">
            <div class="input-field col l6 s12">
              <input placeholder="Job Title" type="text" class="validate" id="job-title">
              <label for="job-title">Job Title</label>
              <div class="collection" id="auto-suggest-title" style="position: absolute; opacity:0.7; color: black; width: 100%; top: 36px"></div>
            </div>
            <div class="input-field col l6 s12" id="state-input">
              <select id="state"></select>
              <label for="state">City</label>
            </div>
          </div>
        </div>
        <div class="input-field col l3 s12">
          <button class="btn btn-lg" id="calculate">
            View Salary
          </button>
        </div>
      </div>
      <div id="search-results">
        <div class="row">
          <div class="col l4 m12" style="">
            <div>
              <div class="col l12 m6 s6" style="padding:10px; height: 100px;">
                <div style="padding: 10px; color:white; text-align:center; background-color:#33aaff">
                  <small><span class="state-name"></span> Average salary</small>
                  <p class="state-average" style="font-size: 20px;"></p>
                </div>
              </div>
              <div class="col l12 m6 s6" style="padding:10px; height: 100px">
                <div style="padding: 10px; text-align:center; background-color:#eeeeee">
                  <small>National Average salary</small>
                  <p class="national-average" style="font-size: 20px;"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col l8 m12" style="">
            <div style="height: 200px; " id="country-map"></div>
          </div>
        </div>
        <div class="row">
          <br /><br />
          <div class="col l8">
            <small>How much does <strong class="profession-name-with-article"></strong> make in <strong class="state-name"></strong>?</small>
            <p>
              The average salary for <strong class="profession-name-with-article"></strong> in <strong class="state-name"></strong> is <strong class="state-average"></strong>. That is <strong class="percentage-diff"></strong> <strong class="difference-qualifier"></strong> than the national median salary of <strong class="national-average"></strong>. Salary estimates are based on <strong class="profession-name"></strong> salaries.
            </p>
          </div>
          <div class="col l4" id="chart"></div>
        </div>
      </div>

    </div>
  </div>
</div>
